<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>project管理系统</title>
<script type="text/javascript" src="../static/js/commoJs/commo.js"></script>
<script type="text/javascript" src="../static/css/commoCss/commoCss.js"></script>
<script type="text/javascript" src="../static/js/systemJs/index.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台布局</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">退出</a></li>
    </ul>
  </div>
  

  
  <div>
  	<h3>导入Excel文件:</h3>
  	<button type="button" class="layui-btn" id="uploadExcel"><i class="layui-icon"></i>选择project文件</button> 
 	<button type="button" class="layui-btn" id="download">下载project文件</button>
 </div>
  

  
  

</div>

<script>
	
	layui.use(['element','upload'], function() {
		element = layui.element;
		upload = layui.upload;
	 
		//指定允许上传的文件类型
		upload.render({
		  elem: '#uploadExcel'
		  ,url: '/project/fileImport'
		  ,accept: 'file' //普通文件
	      ,multiple: true
		  ,done: function(res){
		      console.log(res);
		   }
		});
	});
	
	
	var $download = $("#download");  
    //方法一：window.open()  
    $download.click(function(){  
        window.open("/project/downloadProjectFile");  
    });

</script>
</body>
<script>
</script>
</html>