<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录页面</title>
<script type="text/javascript" src="../../static/js/commoJs/commo.js"></script>
<script type="text/javascript" src="../../static/css/commoCss/commoCss.js"></script>
<base>
</head>
<body>
	用户名：<input type="text" name="username" id="username"></br>
	密码：<input type="text" name="password" id="password"></br>
	 下次自动登录：<input type="checkbox" name="rememberMe" value="true" checked="checked"  id="rememberMe"><br/>
	<input type="button" value="登陆" onclick="login()">
</body>

<script>
	
	function login(){
		var user={};
		var username = $("#username").val();
		var password = $("#password").val();
		var rememberMe = $("#rememberMe").val();
		user.username=username;
		user.password=password;
		user.rememberMe=rememberMe;
		var json=JSON.stringify(user);
		console.log(json);
		 $.ajax({
			type:"POST",
			url:"/userLogin",
			data:json,
			contentType:"application/json",
		    async:true,
			success:function(mydata){
				console.log(mydata);
				if(mydata.code == "0000"){
					window.location.href="/";
				}
			}
		});
	}

</script>

</html>

