<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiroSpringboot.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.shiroSpringboot.entity.Menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, parent_id, menu_name, menu_type, permission, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  
  <select id="selectPermissionByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from menu as m left join role_menu as rm on m.menu_id = rm.menu_id 
    left join user_role as ur on rm.role_id = ur.role_id 
    left join users as u on ur.user_id = u.id  
    where u.username = #{username,jdbcType=VARCHAR}
  	 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shiroSpringboot.entity.Menu" >
    insert into menu (menu_id, parent_id, menu_name, 
      menu_type, permission, create_time
      )
    values (#{menuId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shiroSpringboot.entity.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiroSpringboot.entity.Menu" >
    update menu
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiroSpringboot.entity.Menu" >
    update menu
    set parent_id = #{parentId,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=INTEGER},
      permission = #{permission,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>